html {
  scroll-behavior: smooth;
}

body {
  font-family: serif !important;
}
.nav-link:hover {
  color: #fcb300 !important;
}

/* header{
    position: fixed;
    z-index: 1000;
} */

.logo-grande {
  /* Revisar: pasarlo a una clase*/
  font-size: 3.5rem !important;
}
#logo-banner {
  z-index: 1;
}

/* Banner principal */
main {
  min-height: 100vh;
}

.hero-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  position: relative;
  min-height: 50vh;
  background-image: url(/src/img/banner.webp);
  min-height: 50vh;
}

.hero-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero-banner h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #fff;
  z-index: 1;
}

/* Cards */

.card {
  border-radius: 0 !important;
  padding: 0 !important;
  height: 100%; /* Para que ocupen toda la altura del contenedor padre si se usa h-100 */
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: 200px; /* Tamaño fijo para todas las imágenes */
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 1rem;
}

.card-text-block {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.btn {
  background-color: #fcb300 !important;
  border-radius: 0.7rem !important;
}

.btn:hover {
  color: white !important;
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.map {
  height: 50vh;
}
